.App {
  text-align: center;
};

.App-link {
  color: #61dafb;
};

a {
  text-decoration: none; 
  color: #FFFFFF;
  color: grey;
};

h2 {
  margin: 15px;
}

table, th, td {
  border: 1px solid black;
}